.movies-shows {
    margin-top: $l-size;
    grid-template-columns: 1fr;

    @media (min-width: $desktop-breakpoint) {
        display: grid;
        grid-gap: $m-size;
        grid-template-columns: 1fr 1fr;
    }
}