.movie-show-card {
    background: rgba(darken(#202523, 10%), 0.8);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.movie-show-card__image {
    cursor: pointer;
    height: 100%;
    position: relative;
    width: 100%;

    &::after {
        background: rgba(0, 0, 0, 0.8);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        transition: 0.3s all ease;
        top: 0;
        width: 0;
    }

    a {
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &:hover::after {
        width: 100%;
    }
}

.movie-show-card__description {
    padding: $m-size;
}

.description__subcontainer {
    display: flex;
    justify-content: space-between;
}

.description__title {
    a {
        color: $light-red;
        text-decoration: none;

        &:hover {
            color: darken($light-red, 5%);
        }
    }
}

.description__average {
    color: $white-red;
    margin-right: $m-size;
}

.description__date {
    color: $white-red;
    margin-left: $m-size;
}

.description__overview {
    color: $off-white;
}

.description__info {
    text-align: center;
    margin-top: $l-size;

    a {
        background: $dark-red;
        color: $off-white;
        padding: $s-size;
        text-decoration: none;

        &:hover {
            background: darken($dark-red, 5%);
        }
    }
}

.description__overview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}